<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="version">
            <h2><span>Version</span> {{version.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{version.nom}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{version.date}}</span>
                </dd>
                <dt><span>Version Communautaire</span></dt>
                <dd>
                    <span>{{version.versionCommunautaire}}</span>
                </dd>
                <dt><span>Commentaire</span></dt>
                <dd>
                    <span>{{version.commentaire}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/version', version.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
